body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
    background-color: rgb(57, 52, 52);
}
h1 {
    color: #d8a7a7;
    text-align: center;
    padding: 30px;
}
.header {
    background-color: rgb(52, 19, 19);
    border-radius: 50px;
}
.devices {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(52, 19, 19);
    border-radius: 30px;
    padding: 60px;
    min-height: 100vh;
}

.device-list {
    gap: 20px;
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}
.device-list li {
    width: calc(50% - 10px);
    background-color: rgb(43, 39, 39);
    border: 1px solid #ba6565;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    transition: background-color 1s, transform 0.4s;
}
.device-list li a {
    
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #342929;
    justify-content: center;
    align-items: center;
}
.device-list li:hover {
    background-color: #ba6565;
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}